@page "/hootel-room/create"
@page "/hotel-room/edit/{Id:int}"
@inject IHotelRoomRepository HotelRoomRepository;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IFileUpload FileUpload
@inject IHotelRoomImagesRepository HotelRoomImagesRepository


<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Title Hotel Room</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="@HotelRoomModel" OnValidSubmit="HandleHotelRoomUpsert">
                    <DataAnnotationsValidator />
                    @*<ValidationSummary/>*@
                    <div class="">
                        <label>Name</label>
                        <InputText @bind-Value="@HotelRoomModel.Name" class="form-control"></InputText>
                        <ValidationMessage For="()=>HotelRoomModel.Name"></ValidationMessage>
                    </div>
                    <div class="">
                        <label>Occupancy</label>
                        <InputNumber @bind-Value="@HotelRoomModel.Occupancy" class="form-control"></InputNumber>
                        <ValidationMessage For="()=>HotelRoomModel.Occupancy"></ValidationMessage>
                    </div>
                    <div class="">
                        <label>Rate</label>
                        <InputNumber @bind-Value="@HotelRoomModel.RegularRate" class="form-control"></InputNumber>
                        <ValidationMessage For="()=>HotelRoomModel.RegularRate"></ValidationMessage>

                    </div>
                    <div class="">
                        <label>Sq Ft.</label>
                        <InputText @bind-Value="@HotelRoomModel.SqFt" class="form-control"></InputText>
                    </div>
                    <div class="mb-3">
                        <label>Details</label>
                        <InputTextArea @bind-Value="@HotelRoomModel.Details" class="form-control"></InputTextArea>
                    </div>
                    <div class="mb-3">
                        <label>Details</label>
                        <InputFile OnChange="HandleImageUpload" multiple class="form-control"></InputFile>
                        <div class="row">
                            @if (IsImageUploadProcessStarted)
                            {
                                <div col-md-12>
                                    <span><i class="fa fa-spin fa-spinner"></i>Please wait.. Images are uploading...</span>
                                </div>
                            }
                            @if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Count > 0)
                            {
                                int serial = 1;
                                foreach (var roomImage in HotelRoomModel.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <div class="room-image" style="background: url('@roomImage') 50% 50%; ">
                                            <span class="room-image-title">@serial</span>
                                        </div>

                                        <button type="button" @onclick="()=>DeletePhoto(roomImage)" class="btn btn-outline-danger btn-block mt-4">
                                            Delete
                                        </button>
                                    </div>
                                    serial++;
                                }
                            }
                        </div>
                    </div>
                    <div class="">
                        <button class="btn btn-outline-primary">@Title</button>
                        <NavLink href="hotel-room" class="btn btn-outline-secondary">Back to Index</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }
    private HotelRoomDTO HotelRoomModel { get; set; } = new HotelRoomDTO();
    public HotelRoomImageDTO RoomImage { get; set; } = new HotelRoomImageDTO();
    private string Title { get; set; } = "Create";
    private List<string> DeletedImageNames { get; set; } = new List<string>();
    private bool IsImageUploadProcessStarted { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            //Update
            Title = "Update";
            HotelRoomModel = await HotelRoomRepository.GetHotelRoom(Id.Value);
            if (HotelRoomModel?.HotelRoomImages != null)
            {
                HotelRoomModel.ImageUrls = HotelRoomModel.HotelRoomImages.Select(x => x.RoomImageUrl).ToList();
            }
        }
        else
        {
            //create
            HotelRoomModel = new HotelRoomDTO();
        }
    }

    private async Task HandleHotelRoomUpsert()
    {
        try
        {
            var roomDetailsByName = await HotelRoomRepository.IsRoomUnique(HotelRoomModel.Name, HotelRoomModel.Id);
            if (roomDetailsByName != null)
            {
                JsRuntime.SwAlert("error", "Room is already exists");
                return;
            }

            if (HotelRoomModel.Id != 0 && Title == "Update")
            {
                //Update
                var updateHOtelRoomResult=await HotelRoomRepository.UpdateHotelRoom(HotelRoomModel.Id, HotelRoomModel);
                if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Any())
                {
                    if(DeletedImageNames!=null && DeletedImageNames.Any())
                    {
                        foreach (var deletedImageName in DeletedImageNames)
                        {
                            var imageName = deletedImageName.Replace($"RoomImages/", "");
                            var result = FileUpload.DeleteFile(imageName);
                            await HotelRoomImagesRepository.DeleteHotelImageByImageUrl(deletedImageName);
                        }
                    }
                    await AddHotelRoomImage(updateHOtelRoomResult);
                }
                JsRuntime.SwAlert("success", "Room updated successfully");
            }
            else
            {
                //Create
                var roomDetailsByNameFromDb = await HotelRoomRepository.IsRoomUnique(HotelRoomModel.Name, HotelRoomModel.Id);
                if (roomDetailsByNameFromDb != null)
                {
                    JsRuntime.SwAlert("error", "Room is already exists");
                    return;
                }
                var createdResult = await HotelRoomRepository.CreateHotelRoom(HotelRoomModel);
                await AddHotelRoomImage(createdResult);
                JsRuntime.SwAlert("success", "Room created successfully");
            }
        }
        catch (Exception ex)
        {

            throw ex;
        }
        NavigationManager.NavigateTo("hotel-room");
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        IsImageUploadProcessStarted = true;
        try
        {
            var images = new List<string>();
            if (e.GetMultipleFiles().Count>0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    FileInfo fileInfo = new FileInfo(file.Name);
                    if(fileInfo.Extension.ToLower()==".jpg" ||fileInfo.Extension.ToLower()==".png" ||fileInfo.Extension.ToLower() == ".jpeg")
                    {
                        var uploadedImagePath =await FileUpload.UploadFile(file);
                        images.Add(uploadedImagePath);

                    }
                    else
                    {
                        JsRuntime.SwAlert("error", "Only .jpeg, .jpg, .png accepted");
                        return;  
                    }
                }
                if (images.Any())
                {
                    if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Any())
                    {
                        HotelRoomModel.ImageUrls.AddRange(images);
                    }
                    else
                    {
                        HotelRoomModel.ImageUrls = new List<string>();
                        HotelRoomModel.ImageUrls.AddRange(images);
                    }
                }
                else
                {
                    JsRuntime.SwAlert("error","Image uploading failed");
                    return; 
                }

            }
            IsImageUploadProcessStarted = false;
        }
    catch (Exception ex)
        {

            JsRuntime.SwAlert("error", ex.Message);
        }
    }

    private async Task DeletePhoto( string imageUrl)
    {
        try
        {
            var imageIndex = HotelRoomModel.ImageUrls.FindIndex(x => x == imageUrl);
            var imageName = imageUrl.Replace($"RoomImages/","");
            //Create
            if(HotelRoomModel.Id==0 && Title == "Create")
            {
                var result = FileUpload.DeleteFile(imageName);
            }
            else
            {
                //Update
                DeletedImageNames ??= new List<string>();
                DeletedImageNames.Add(imageUrl);
            }
            HotelRoomModel.ImageUrls.RemoveAt(imageIndex);

        }
        catch (Exception ex)
        {

            JsRuntime.SwAlert("error", ex.Message);
        }
    }

    private async Task AddHotelRoomImage(HotelRoomDTO roomDetails)
    {
        foreach (var imageUrl in HotelRoomModel.ImageUrls)
        {
            if (HotelRoomModel.HotelRoomImages==null||HotelRoomModel.HotelRoomImages.Where(x => x.RoomImageUrl == imageUrl).Count() == 0)
            {
                RoomImage = new HotelRoomImageDTO()
                    {
                        RoomId = roomDetails.Id,
                        RoomImageUrl = imageUrl
                    };
                await HotelRoomImagesRepository.CreateHotelRoomImage(RoomImage);
            }
        }
    }
}
